<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-6 col-6 header-top-left">
        </div>
        <div class="col-lg-6 col-sm-6 col-6 header-top-right">
        <div class="header-social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
        </div>
      </div>			  					
    </div>
  </div>
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
          <a href="javascript:void(0)" [routerLink]="['/']"><img src="/assets/img/logo.png" alt="" title="" /></a>
        </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li><a href="javascript:void(0)" [routerLink]="['/']">Home</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['/p/about']">About</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['/p/hotels']">Hotels</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['/p/insurance']">Insurance</a></li>
            <li><a href="javascript:void(0)" [routerLink]="['/p/contact']">Contact</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->					      		  
    </div>
  </div>
</header><!-- #header -->