<!-- start banner Area -->
<section class="relative about-banner">	
  <div class="overlay overlay-bg"></div>
  <div class="container">				
    <div class="row d-flex align-items-center justify-content-center">
      <div class="about-content col-lg-12">
        <h1 class="text-white">
          Blog Details Page				
        </h1>	
        <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span><a href="blog-home.html">Blog </a> <span class="lnr lnr-arrow-right"></span> <a href="blog-single.html"> Blog Details Page</a></p>
      </div>	
    </div>
  </div>
</section>
<!-- End banner Area -->	