<!-- Header -->
<app-header></app-header>

<!-- Homepage banner -->
<app-banner *ngIf="url === '/'"></app-banner>

<!-- Detail page banner -->
<app-detail-banner *ngIf="url !== '/'"></app-detail-banner>

<!-- Top category widget -->
<app-top-category-widget *ngIf="url === '/'"></app-top-category-widget>

<!-- Countent -->
<div class="route-container" [@routeAnimation]="getDepth(myOutlet)">
    <router-outlet #myOutlet="outlet"></router-outlet>
</div>

<!-- start footer Area -->		
<app-footer></app-footer>
<!-- End footer Area -->